//
   Created by Administrator on 2017/8/24.

//
   Created by Administrator on 2017/8/24.

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/login_regist.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        title 窝宠网-注册
    body
        .container-fluid
            .row.col-lg-4.col-md-4.col-lg-offset-4.col-md-offset-4
                #div_myform.div_myform
                    p  注册WOW宠
                    span#err
                    hr
                    form#myfrom
                        .form-group
                            span.input_span
                                i.icon-login-phone.fa.fa-mobile.fa-lg
                                input#telphone.form-control(type="text", placeholder="手机号码", name='telphone', maxlength='11')
                        .form-group
                            span.input_span
                                i.icon-login-phone.fa.fa-lock
                                input#password.form-control(type="password", placeholder="密码", name='password', maxlength='16')
                        .form-group
                            span.input_span
                                i.icon-login-phone.fa.fa-lock
                                input#repassword.form-control(type="password", placeholder="再次输入密码", name='repassword', maxlength='16')
                        .form-group
                            span.input_span
                                i.icon-login-auth.fa.fa-shield
                                input#auth.form-control(type="text", placeholder="验证码", name='auth', maxlength='4')
                                #authimg
                                    canvas#myCanvas
                        .form-group
                            span.input_span
                                i.icon-login-mesAuth.fa.fa-send-o
                                input#messageAuth.form-control(type="text", placeholder="短信验证码", name='mesauth', maxlength='4')
                                button#btn_Auth(type="button") |  发送验证码
                        button#btn_submit.btn.btn-warning(type="button") 立即注册
                        .form-group.txt-group
                            | 已有账号
                            a(href="./login")  立即登陆
script(src="/javascripts/jquery.js")
script(src="/javascripts/verifyCode.js")

script.
    $(function () {
        var _telphone = 1;
        var _password = 1;
        var _code = 1;
        var _repassword = 1;
        var reg = /^1\d{10}$/
        $('#telphone').blur(function () {
            var telPhone = this.value;
            if (!reg.test(telPhone)) {
                $('#err')[0].innerHTML = '手机号码格式不正确';
                _telphone = 1;
            } else {
                $.ajax({
                    url: '/users/regist_searchTelPhone?telphone=' + telPhone,
                    type: 'get',
                    dataType: 'text',
                    success: function (data) {
                        if (data != 0) {
                            $('#err')[0].innerHTML = '该手机号码已经注册过了';
                            _telphone = 1;
                        } else {
                            $('#err')[0].innerHTML = '';
                            _telphone = 0;
                        }
                    },
                    error: function (err) {
                        $('#err')[0].innerHTML = '服务器连接失败';
                    }
                })
            }
        });
        $('#password').blur(function () {
            if (this.value.length <= 6) {
                $('#err')[0].innerHTML = '密码过短';
                _password = 1;
            } else {
                $('#err')[0].innerHTML = '';
                _password = 0;
            }
        });
        $('#repassword').blur(function () {
            if (this.value != $('#password').val()) {
                $('#err')[0].innerHTML = '两次密码输入不一致';
                _repassword = 1;
            } else {
                $('#err')[0].innerHTML = '';
                _repassword = 0;
            }
        });
        $('#auth').blur(function () {
            if ($('#auth').val().toLowerCase() != code.toLowerCase()) {
                $('#err')[0].innerHTML = '验证码有误';
                _code = 1;
            } else {
                $('#err')[0].innerHTML = '';
                _code = 0;
            }
        });
        $(':input').focus(function () {
            $(this).parent().find('i').css({'color': '#ffc907'})
            $(this).parent().find('input').css({'border-color': '#ffc907', 'box-shadow': '0 0 8px #ffc907'})
        })
        $(':input').blur(function () {
            $(this).parent().find('i').css({'color': '#333333'})
            $(this).parent().find('input').css({'border-color': '#333333', 'box-shadow': 'none'})

        })
        $('#btn_Auth').click(function () {
            if (_password + _telphone + _repassword + _code == 0) {
                this.innerHTML = '发送中...'
                $(this).attr('disabled', 'true');
                $.ajax({
                    url: '/users/sendMessageAuth?telphone=' + $('#telphone').val(),
                    type: 'get',
                    datatype: 'text',
                    timeout: 5000,
                    success: function (data) {
                        if (data == 'ok') {
                            var num = 60;
                            var _timer;
                            _timer = setInterval(function () {
                                if (num > 0) {
                                    $('#btn_Auth').html('已发送(' + num + ')');
                                    num--;
                                } else {
                                    clearInterval(_timer);
                                    $('#btn_Auth').removeAttr('disabled');
                                    $('#btn_Auth').html('发送验证码')
                                }
                            }, 1000);
                        }
                    },
                    error: function (err) {
                        $(this).val('网络错误')
                    },
                    complete: function (XMLHttpRequest, status) { //请求完成后最终执行参数
                        if (status == 'timeout') {//超时,status还有success,error等值的情况
                            alert("超时");
                        }
                    }
                })
            } else {
                $('#err')[0].innerHTML = '注册信息有误';
            }
        })
        $('#btn_submit').click(function () {
            if (_password + _telphone + _repassword + _code == 0) {
                $.ajax({
                    url: '/users/regist',
                    type: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    data: $('#myfrom').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data == true) {
                            $('#err')[0].innerHTML = '注册成功！1秒后跳转到首页';
                            setTimeout(function () {
                                location.href = '/index';
                            }, 1000)
                        } else {
                            alert(data)
                        }
                    },
                    error: function (err) {
                        console.log(err.message)
                    }
                })
            } else {
                $('#err')[0].innerHTML = '注册信息有误';
            }
        })
    })

